* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #ffffff;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #fdfdfd;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #ffffff;
  background: #a9cdcf;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

.contentIndx {
  text-align: center;
  color: #6b4e4c;
  font-size: 25px;
  font-style: DejaVu Sans Mono, monospace;
}


@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
  background: #fcfafb;
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-logo {display: inline-block;}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #6b4e4c;
  transition:.3s linear;
}
.menu-main a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #5af700;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}
.menu-main a:hover:before {opacity: 1;}
@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 20px;
}
.top-menu {
  text-align: center;
  padding: 20px 0 0 0;
}
.menu-main a {padding: 0 10px;}
.menu-main a:before {transform: rotate(45deg) translateX(-6px);}
}
@media (max-width: 600px) {
.menu-main li {display: block;}
}




body {background-color: #fcfafb }

.container {
    margin-top:50px;
    width: 50%;
    text-align: center;
    float: center;
}
.container ul {
  width: 65.5%;
  padding: 0 10px;
  float: center;
}
.container ul li {
  padding: 10px 10px;
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 380px;
  border: 1px solid silver;
  border-radius: 5px;
  color: #644848;
  background: #fcfafb;
  float: center;
}


form {
    background: #fcfafb;
    border: 1.8px solid #614747;
    border-radius: 10px;
    padding: 20px 10px;
}

#task {
  width: 60%;
  float: left; 
  margin-right: 5%; 
}

.container  h1 {
    color: #d9d9d9;
    text-align: center;
} 
.containerWeather{
  float: right;
  margin-right: 5%;
}
.containerCalendar
{
  border: 1.8px solid #614747;
  background: #fcfafa;
  width:15%;
  float: right;
  margin-right: 5%;
}

#calendar2 {
  background: #ffffff;
  width: 100%;
  font: monospace;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
}
#calendar2 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar2 tbody td {
  color: rgb(44, 86, 122);
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
  color: rgb(231, 140, 92);
}
#calendar2 tbody td.today {
  background: rgb(220, 0, 0);
  color: #fff;
}